body {
    background-color: #000;
    color: #fff; 
    font-family: 'Arial', sans-serif;
    }
 
  
  h2 {
    background-image: url('https://cdn2.img.sputniknews.lat/img/07e7/04/0a/1137945579_0:0:3640:2048_1920x0_80_0_0_315e910374a7cca35c73a088d243c743.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 2%;
  }
  h3{
    font-size: 36px;
    color: #ff9900;
    text-align: center;
  }

.img{
    margin:6%;
    height: 1000px;  
    align-items: flex-end;
}
#div8, #div9 {
    font-size: 12px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-align: center;
    color:whitesmoke; 
    text-shadow: 2px 2px 4px #000; 
    margin: 10px 0;
}